
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" style="margin-right:0px;">

<tr valign="center">
	<td height="20" colspan="3"><br></td>
	<td width="10">&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr valign="top">
	<td height="100%" width="160">
	<div style="width:160px;">
	<ul class="mainmenu">
	
		<li> <a href="./index.php?type=consolidated">Сводная статистика</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=attendance&type_gr={type_gr}">Хиты, Хосты, Сессии</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=host&type_gr={type_gr}">Хосты</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=hit&type_gr={type_gr}">Хиты</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=session&type_gr={type_gr}">Сессии</a>

		<h3>Ссылки</h3>

		<li> <a href="./index.php?begin={begin}&end={end}&type=referer&type_gr={type_gr}">Страницы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=domain&type_gr={type_gr}">Домены</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=forum&type_gr={type_gr}">Форумы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=catalog&type_gr={type_gr}">Каталоги/рейтинги</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=search&type_gr={type_gr}">Поисковые системы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=search_word&type_gr={type_gr}">Поисковые слова</a>

		<h3>Системы</h3>

		<li> <a href="./index.php?begin={begin}&end={end}&type=os&type_gr={type_gr}">Операц. системы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=platform&type_gr={type_gr}">Платформы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=browser&type_gr={type_gr}">Браузеры</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=browser_features&type_gr={type_gr}">Хар-ки браузеров</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=screen&type_gr={type_gr}">Разрешение экрана</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=color&type_gr={type_gr}">Глубина цвета</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=cookies&type_gr={type_gr}">Cookies</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=java&type_gr={type_gr}">JavaScript</a>			

		<h3>Посетители</h3>

		<li> <a href="./index.php?begin={begin}&end={end}&type=ip&type_gr={type_gr}">IP адреса</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=country&type_gr={type_gr}">Страны</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=city&type_gr={type_gr}">Города</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=region&type_gr={type_gr}">Регионы</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=organization&type_gr={type_gr}">Организации</a>

		<h3>Страницы</h3>

		<li> <a href="./index.php?begin={begin}&end={end}&type=popularity&type_gr={type_gr}">Популярность</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=ways&type_gr={type_gr}">Пути по сайту</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=input&type_gr={type_gr}">Точки входа</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=output&type_gr={type_gr}">Точки выхода</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=depth&type_gr={type_gr}">Глубина просмотра</a>
		<li> <a href="./index.php?begin={begin}&end={end}&type=time&type_gr={type_gr}">Время просмотра</a>
	</ul>
	</div></td>
	<td width="10">&nbsp;&nbsp;&nbsp;</td>
	<td width="100%" class="text">

		<table cellspacing="2" cellpadding="5" width="100%" border="0">
		<tr valign="top">
			<td width="33%"><h3>На дату</h3>{calendar}</td>
			<td width="33%"><h3>Интервал</h3>
				<table cellspacing="2" cellpadding="5" width="100%" border="0">
				<form name="period" method="GET" action="">
				<input type="hidden" name="type_gr" value="{type_gr}">
				<tr>
					<td class="text">Показать статистику с:</td>
				</tr>
				<tr>
					<td nowrap>{selbegin}</td>
				</tr>
				<tr>
					<td class="text">по:</td>
				</tr>
				<tr>
					<td nowrap>{selend}</td>
				</tr>
				<tr>
					<td class="text">Что показывать:</td>
				</tr>
				<tr>
					<td>{seltype} <input onClick="return get_period();" class=submit type="submit" value="»»" /></td>
				</tr>
				</form>
				</table></td>
			<td width="33%" class="text">

				<h3>Вид диаграммы</h3>

				<li> <a href="./index.php?begin={begin}&end={end}&type={type}&type_gr=b1">Столбчатая</a> [ вар.1 ]
				<li> <a href="./index.php?begin={begin}&end={end}&type={type}&type_gr=b2">Столбчатая</a> [ вар.2 ]
				<li> <a href="./index.php?begin={begin}&end={end}&type={type}&type_gr=b3">Гистограмма</a>
				<li> <a href="./index.php?begin={begin}&end={end}&type={type}&type_gr=l">Линейный график</a>
				<li> <a href="./index.php?begin={begin}&end={end}&type={type}&type_gr=a">График с областями</a>

				<h3>Отчеты</h3>

				<li> <img src="{STYLE_URL}icons/stat/excel.gif" /> <a href="./export.php?begin={begin}&end={end}&type_gr={type_gr}&type={type}&what=excel" target="_blank">В виде Excel файла</a>
				<li> <img src="{STYLE_URL}icons/stat/word.gif" /> <a href="./export.php?begin={begin}&end={end}&type_gr={type_gr}&type={type}&what=word" target="_blank">В виде Word файла</a>
				<li> <img src="{STYLE_URL}icons/stat/pdf.gif" /> <a href="./export.php?begin={begin}&end={end}&type_gr={type_gr}&type={type}&what=pdf" target="_blank">В виде PDF файла</a>
				<p><small>Для сохранения щелкните ссылку правой кнопкой мыши и выберите "Сохранить как".</small></p>
			</td>
		</tr>
		</table>

		<hr>

		<h3>{header}</h3>

		<p align="center"><img src="{URL}graph.php?begin={begin}&end={end}&type={type}&type_gr={type_gr}" /></p>

		<p>{content}</p>

		<p>{pages}</p>

		<br><br>

		<ul>
		<li> В текущий момент на сайте находится: {online} человек.</li>
		<li> Статистика ведется с {start}.</li>
		<li> Последнее обновлене: {last}.</li>
		<li> Занято: {bytes} Записей: {rows}.</li>
		</ul>
		</p>

		<br>

		<p>Хиты (просмотры): количество загрузок страниц сайта.</p>
		<p>Хосты (посетители): количество уникальных посетителей сайта (точнее, количество браузеров). Идентификация происходит с помощью ip.</p>
		<p>Сессия: серия из нескольких просмотров от одного посетителя, причем между соседними просмотрами должно пройти не более 15 минут.</p>
		<br>
	</td>
	<td width="10">&nbsp;&nbsp;&nbsp;</td>
</tr>

</table>
