.el-contextmenu { 
	padding:.5em 0; 
	background:#fff; 
	cursor:default; 
	border:1px solid #ccc;  
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
}
.el-contextmenu div { 
	padding:.3em 10em .3em .7em;

}
.el-contextmenu img { padding-right:3px;}
.el-contextmenu-hover { background:#6bacf8; }
