/*@import "contextmenu.css";*/
/*@import "eltree.css";*/

.el-finder {
	width:100%; 
	border:1px solid #ccc;
	background-color:#fff;
}

.el-finder a { color : #444; }
.el-finder .disabled { opacity:0.35; filter:Alpha(Opacity=35);}

ul.el-finder-toolbar {
	padding:5px 7px;
	background:#eee;
	margin:0;
	list-style:none;
	display:block;
}

ul.el-finder-toolbar li {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:22px; 
	width:22px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:1px 1px;
	background:url('style/images/elfinder/sprite.png') no-repeat; 
	border:1px solid #ccc;	
}
/*подсветка при наведение */
ul.el-finder-toolbar li:hover { border:1px solid #54b9bf; }
/*Кнопки */

ul.el-finder-toolbar li.button-hover   { border:1px solid #54b9bf;}
ul.el-finder-toolbar li.button-delim   { background-position: -4px 1px; border:none;  width:3px;}
ul.el-finder-toolbar li.button-back    { background-position: 0 -23px;}
ul.el-finder-toolbar li.button-reload  { background-position: 0 -44px;}
ul.el-finder-toolbar li.button-info    { background-position: 0 -297px;}
ul.el-finder-toolbar li.button-select  { background-position: 0 -387px;}
ul.el-finder-toolbar li.button-open    { background-position: 0 -363px;}
ul.el-finder-toolbar li.button-edit    { background-position: 0 -411px;}
ul.el-finder-toolbar li.button-rename  { background-position: 0 -342px;}
ul.el-finder-toolbar li.button-mkdir   { background-position: 0 -65px;}
ul.el-finder-toolbar li.button-upload  { background-position: 0 -108px;}
ul.el-finder-toolbar li.button-rm      { background-position: 0 -86px;}
ul.el-finder-toolbar li.button-copy    { background-position: 0 -130px;}
ul.el-finder-toolbar li.button-cut     { background-position: 0 -154px;}
ul.el-finder-toolbar li.button-paste   { background-position: 0 -176px;}
ul.el-finder-toolbar li.button-ibig    { background-position: 0 -196px;}
ul.el-finder-toolbar li.button-ismall  { background-position: 0 -215px;}
ul.el-finder-toolbar li.button-list    { background-position: 0 -235px;}
ul.el-finder-toolbar li.button-reports { background-position: 0 -255px;}
ul.el-finder-toolbar li.button-help    { background-position: 0 -275px;}

.el-finder-workzone {
	clear:both;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.el-finder-nav {
	float: left;
	width : 150px;
	padding:3px 5px;
	height:400px;
	overflow:auto;
}

.el-finder-cwd {
/*	margin-left:12%;*/	
	border-left:1px solid #ccc;
	height:400px;
	overflow:auto;
/*	width:87%;*/

}

.el-finder-statusbar {
	background:#eee;
	
	text-align:right;
	font-size:10px;
	vertical-align:middle;
	padding: 3px 15px;
}
/* -------------- */

/* Навигация слева */
ul.el-dir-tree {
	list-style:none;
	margin:0;
	padding:0;
}
ul.el-dir-tree ul,ul.el-dir-tree li  {
	list-style:none;
	margin:0;
	padding:0;
}
ul.el-dir-tree li {
	list-style:none;
	cursor: default;
	white-space:nowrap;
	font-size:.92em; 
}
ul.el-dir-tree li ul {
	padding: 0 0 0 16px;
	margin: 0;
}
ul.el-dir-tree li a {
	line-height:22px;
	padding: 1px 23px;
	background:url('style/images/elfinder/sprite.png') 0 -368px no-repeat; 
	cursor: default;
}
ul.el-dir-tree li a.selected {
	background-color:#eee;
	background-position: 0 -321px ;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

/* вид - список */
.el-finder table.view-list { width:100%; font-size:.86em; }

.el-finder table.view-list th {
	background:#fbf9ee;
	border: 1px solid #fcefa1;
	padding:1px 5px;
}

.el-finder table.view-list td {
	border: 1px solid #eee;
	padding:1px 5px;
	vertical-align:middle;
}
.el-finder table.view-list .size { text-align:right; }

.el-finder table.view-list tr.odd {
	background: #f2f2f2;
}

.el-finder table.view-list td div.icon {
	width:18px;
	height:18px;
	float:left;
	margin-right:5px;
	background:url(style/images/elfinder/icons-small.png) no-repeat;
	background-position: 0 -450px;
}

.el-finder table.view-list td div.icon-unknown {background-position: 0 -450px; }
.el-finder table.view-list td div.icon-directory {background-position: 0 -157px; }
.el-finder table.view-list td div.icon-image {background-position: 0 -228px; }
.el-finder table.view-list td div.icon-audio { background-position: 0 -21px; }
.el-finder table.view-list td div.icon-video { background-position: 0 -42px; }
.el-finder table.view-list td div.icon-plain { background-position: 0 -137px; }
.el-finder table.view-list td div.icon-x-shellscript { background-position: 0 -425px; }
.el-finder table.view-list td div.icon-x-php { background-position: 0 -380px; }
.el-finder table.view-list td div.icon-rtf { background-position: 0 -404px; }
.el-finder table.view-list td div.icon-x-c { background-position: 0 -114px; }
.el-finder table.view-list td div.icon-x-shockwave-flash { background-position: 0 -356px; }
.el-finder table.view-list td div.icon-octet-stream { background-position: 0 1px; }

.el-finder table.view-list td div.basename { padding-top:5px; }
.el-finder table.view-list td div.basename input { width: 70%;}
.el-finder table.view-list tr.selected { background:#ccc;}

/*  вид - маленькие иконки  */
.el-finder .view-ismall {}
.el-finder .view-ismall .item {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:48px; 
	width:75px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:1px 1px;
	overflow:hidden;
/*	border:1px solid #ccc;*/
	font-size: .8em;
	text-align:center;
}
.el-finder .view-ismall .basename, .el-finder .view-ibig .basename { text-align:center; cursor: default; white-space:nowrap; padding:1px 0;}
.el-finder  .basename input { width:98%; border:1px solid #ccc;}
.el-finder .view-ismall div.icon {
	width:32px;
	height:24px;
	margin:2px auto;
/*border:1px solid #ccc;*/
	background:url(style/images/elfinder/icons-small.png) no-repeat;
	background-position: 8px -450px;
}

.el-finder .view-ismall div.icon-unknown {background-position: 8px -450px; }
.el-finder .view-ismall div.icon-directory {background-position: 8px -157px; }
.el-finder .view-ismall div.icon-image {background-position: 8px -228px; }
.el-finder .view-ismall div.icon-audio { background-position: 8px -21px; }
.el-finder .view-ismall div.icon-video { background-position: 8px -42px; }
.el-finder .view-ismall div.icon-archive { background-position: 8px -64px; }
.el-finder .view-ismall div.icon-plain { background-position: 8px -137px; }
.el-finder .view-ismall div.icon-x-shellscript { background-position: 8px -425px; }
.el-finder .view-ismall div.icon-x-php { background-position: 8px -380px; }
.el-finder .view-ismall div.icon-rtf { background-position: 8px -404px; }
.el-finder .view-ismall div.icon-x-c { background-position: 8px -114px; }
.el-finder .view-ismall div.icon-x-shockwave-flash { background-position: 8px -356px; }
.el-finder .view-ismall div.icon-octet-stream { background-position: 8px 1px; }

.el-finder  .selected div.icon, .el-finder .selected .basename { background-color:#ccc;}

/*  вид - большие иконки  */
.el-finder .view-ibig {}
.el-finder .view-ibig .item {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:73px; 
	width:120px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:1px 1px;
	overflow:hidden;
/*	border:1px solid #ccc;*/
	font-size: .9em;
	text-align:center;
}

.el-finder .view-ibig div.icon {
	width:55px;
	height:50px;
	margin:2px auto;
/*border:1px solid #ccc;*/
	background:url(style/images/elfinder/icons-big.png) 2px -992px no-repeat;
}

.el-finder .view-ibig div.icon-unknown {background-position: 4px -992px; }
.el-finder .view-ibig div.icon-directory {background-position: 4px -371px; }
.el-finder .view-ibig div.icon-image {background-position: 4px -496px; }
.el-finder .view-ibig div.icon-audio { background-position: 4px -75px; }
.el-finder .view-ibig div.icon-video { background-position: 4px -127px; }
.el-finder .view-ibig div.icon-archive { background-position: 4px -189px; }
.el-finder .view-ibig div.icon-plain { background-position: 4px -313px; }
.el-finder .view-ibig div.icon-x-shellscript { background-position: 4px -929px; }
.el-finder .view-ibig div.icon-x-php { background-position: 4px -806px; }
.el-finder .view-ibig div.icon-rtf { background-position: 4px -866px; }
.el-finder .view-ibig div.icon-x-c { background-position: 4px -253px; }
.el-finder .view-ibig div.icon-x-shockwave-flash { background-position: 4px -127px; }
.el-finder .view-ibig div.icon-octet-stream { background-position: 4px 2px; }

.el-finder .view-ibig .selected .icon { background-color:#eee;}

/* контекстное меню */
.el-contextmenu { 
/*	padding:.5em 0; */
	position:absolute;
	background:#fff; 
	cursor:default; 
	border:1px solid #ccc;  
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	z-index: 10000;
}
.el-contextmenu div { 
	margin:0;
	padding:.7em 10em .3em .7em;
/*	border:1px solid #ccc;  */

}
.el-contextmenu div.delim { margin:0; padding:0; height:1px; border-top:1px solid #eee;}
.el-contextmenu img { padding-right:3px;}
.el-contextmenu-hover { background:#99ccff; }
.el-contextmenu div span.ui-icon { margin:-3px 5px 0 0; float:left;}

.el-contextmenu .icon {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:19px; 
	width:19px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin-right: 12px;
/*	border:1px solid #ccc;*/
	background:url('style/images/elfinder/sprite2.png') no-repeat; 
}
.el-contextmenu .icon-open { background-position: 0 -368px; }
.el-contextmenu .icon-rename { background-position: 0 -345px; }
.el-contextmenu .icon-rm { background-position: 0 -89px; }
.el-contextmenu .icon-copy { background-position: 0 -133px; }
.el-contextmenu .icon-cut { background-position: 0 -157px; }
.el-contextmenu .icon-info { background-position: 0 -301px; }
.el-contextmenu .icon-select { background-position: 0 -387px; }



