/* админское плавающее меню */
ul.el-menu-float {
	position:absolute;
	top:50px;
	right:50px;
	
}
ul.el-menu-float ul {
	list-style:none;
}
ul.el-menu-float, ul.el-menu-float ul {
	list-style:none;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0;
	margin:0;
	background-color:#f5f9f9;
}

ul.el-menu-float li.toplevel {
	float:left;
	list-style:none;
}
ul.el-menu-float li ul {
	position: absolute; 
	width:auto;  
	left:0;
}
ul.el-menu-float li {
	position: relative;
	margin:0;
	padding:0;
	white-space:nowrap;
	
}
ul.el-menu-float li.hover { background-color: #6dacf8; }
ul.el-menu-float li a {
	text-decoration:none;
	display: block;
	
	zoom: 1;
	cursor:default;
	background:url(../images/icons2.png) no-repeat;
}

ul.el-menu-float li.toplevel a {
	line-height:22px;
	padding:5px 14px;
/*	border:1px solid #ccc;*/
}

ul.el-menu-float li.toplevel li a {
	padding:5px 12px 5px 29px;
}

ul.el-menu-float li a.drag-helper {
	cursor:move;
	padding-right:18px;
	background-position:7px 7px;
}
ul.el-menu-float li.hover.drag-helper {
	background-color:transparent;
}

ul.el-menu-float li a.icoEdit { background-position:2px -21px; }
ul.el-menu-float li a.Configuration { background-position:2px -47px; }
ul.el-menu-float li a.Plugins { background-position:2px -74px; }
ul.el-menu-float li a.Help { background-position:2px -100px; }
ul.el-menu-float li a.Actions { background-position:2px -335px; }
ul.el-menu-float li a.icoConf { background-position:2px -47px; }
ul.el-menu-float li a.New_item { background-position:2px -582px; }

ul.el-menu-float li a.icoPluginsConf { background-position:2px -178px; }
ul.el-menu-float li a.icoPluginInfoBlock { background-position:2px -74px; }
ul.el-menu-float li a.icoInfoBlockNew { background-position:2px -205px; }
ul.el-menu-float li a.icoHelpTopics { background-position:2px -127px; }
ul.el-menu-float li a.icoHelpModule { background-position:2px -152px; }
ul.el-menu-float li a.icoPluginPoll { background-position:2px -259px; }
ul.el-menu-float li a.icoPluginNewsTopics { background-position:2px -231px; }
ul.el-menu-float li a.icoPluginRandomImage { background-position:2px -283px; }
ul.el-menu-float li a.icoPluginCalculator { background-position:2px -307px; }
ul.el-menu-float li a.icoAlbumNew { background-position:2px -360px; }
ul.el-menu-float li a.icoImgNew { background-position:2px -388px; }
ul.el-menu-float li a.icoSort { background-position:2px -1023px; }
ul.el-menu-float li a.icoSortAlphabet { background-position:2px -412px; }
ul.el-menu-float li a.icoImgImport { background-position:2px -435px; }
ul.el-menu-float li a.icoMagic { background-position:2px -463px; }
ul.el-menu-float li a.icoPollNew { background-position:2px -492px; }
ul.el-menu-float li a.icoCatNew { background-position:2px -520px; }
ul.el-menu-float li a.icoUserNew { background-position:2px -552px; }
ul.el-menu-float li a.icoOK { background-position:2px -612px; }
ul.el-menu-float li a.icoItemTypesList { background-position:2px -639px; }
ul.el-menu-float li a.icoItemTypeNew { background-position:2px -663px; }
ul.el-menu-float li a.icoMnfList { background-position:2px -691px; }
ul.el-menu-float li a.icoMnfNew { background-position:2px -719px; }
ul.el-menu-float li a.icoTmNew { background-position:2px -747px; }
ul.el-menu-float li a.icoSearchConf { background-position:2px -775px; }
ul.el-menu-float li a.icoNavConf { background-position:2px -803px; }
ul.el-menu-float li a.icoCrosslinksConf { background-position:2px -834px; }
ul.el-menu-float li a.icoImportConf { background-position:2px -862px; }
ul.el-menu-float li a.icoExportConf { background-position:2px -889px; }
ul.el-menu-float li a.icoGoodNew { background-position:2px -582px; }
ul.el-menu-float li a.icoDocGroupRm { background-position:2px -915px; }
ul.el-menu-float li a.icoFtList { background-position:2px -945px; }
ul.el-menu-float li a.icoFtGroupNew { background-position:2px -974px; }
ul.el-menu-float li a.icoFtNew { background-position:2px -999px; }
ul.el-menu-float li a.icoSortNumeric { background-position:2px -1025px; }
ul.el-menu-float li a.icoPriceFromFile { background-position:2px -1053px; }
ul.el-menu-float li a.icoDocNew { background-position:2px -1081px; }
ul.el-menu-float li a.icoCrosslinks { background-position:2px -1107px; }
ul.el-menu-float li a.icoNewsNew { background-position:2px -1133px; }
ul.el-menu-float li a.icoNew { background-position:2px -1159px; }
ul.el-menu-float li a.icoLock { background-position:2px -1189px; }
ul.el-menu-float li a.icoUser { background-position:2px -1216px; }
ul.el-menu-float li a.icoPageNew { background-position:2px -1246px; }
ul.el-menu-float li a.icoMenu { background-position:2px -1271px; }
ul.el-menu-float li a.icoModulesInstall { background-position:2px -1298px; }
ul.el-menu-float li a.icoArc { background-position:2px -1327px; }
ul.el-menu-float li a.icoFileUpload { background-position:2px -1352px; }
ul.el-menu-float li a.icoUsersGroupNew { background-position:2px -1215px; }
ul.el-menu-float li a.icoFormConstructor { background-position:2px -74px; }
ul.el-menu-float li a.icoFormElNew { background-position:2px -1159px; }

