.has-childs { /*border-bottom:1px solid #ccc;*/}
#navtop div { padding-top:3px;padding-bottom:3px;}
#navtop .elnav { float:left;}

#navtop .elnav, #navtop .elnav ul {
	
	padding:0;
	margin:0;
	list-style:none;
	background:#fff;
}
#navtop .elnav ul {
	
	border:1px solid #ccc;
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#navtop ul.elnav li {
	background:transparent;
	position:relative;
	white-space:nowrap;
	display:block;
	padding:0;
	margin:0; 
	font-size:93%;
}

#navtop .elnav ul li.hover { background:#eee;}
#navtop .elnav li.top { float:left; display:inline; position:relative; }
#navtop .elnav li.top a { padding:3px 20px 7px 20px; }
#navtop .elnav li ul { position: absolute; width:auto;  left:0; }
#navtop .elnav li a { 
	display:inline-block; 
	margin:0;	
	padding:5px 15px; 
	color:#222;
	zoom:1; 
	text-decoration:none; 
}

#navtop .elnav li img { margin: 0 7px 0 0;   }
#navtop ul li.nav-top-current a { text-decoration:none;}

ul.elnav-vert {  margin-bottom:.5em; display:block;}

.elnav-vert, .elnav-vert ul {
	border:1px solid #ccc;
	padding:0;
	margin:0;
	list-style:none;
	background:#fff;
}
ul.elnav-vert  ul { 
	margin-bottom:5px; 
	display:block;
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}

.elnav-vert li {
	position:relative;
	white-space:nowrap;
	display:block;
	padding:0;
	margin:0; 
}
.elnav-vert li.hover { background:#eee;}
.elnav-vert li ul {	position: absolute; width:auto; }
.elnav-vert li a {
	display:inline-block;
	margin:0;
	padding:7px 15px;
	zoom:1;
}
.elnav-vert li ul li a {
	padding-right:25px;
}
.elnav-vert li.nav-top-current a { text-decoration:none; font-weight:bold;}
.elnav-vert li img { margin-right:7px;}