/**********BASE***********/ 
body, html { height: 100% !important; padding: 0;}

#header, #navtop, #main, #footer, #ddnavbottom { clear:both; }

/** Общий контейнер во всю высоту окна **/
#body {
	position:relative !important;
	min-height:100%; 
	height: auto !important;
	min-width: 780px; 
	text-align:left;
	margin: 0 auto;
}
  
* html #body { height:100% !important; }

/** Контейнер в #body (внизу оставляем место для #footer) **/
#page { padding: 0 0 70px 0;}

/** Шапка **/
#header { position:relative; }

/** Доп навигация в шапке **/
#header #addnavtop { position:absolute; top: 15px; right: 15px; white-space:nowrap;}
#addnavtop div {  float:left; margin:0 4px; font-size:91.6667%; }
#addnavtop div a { border:none;}
/** Верхнее меню **/
#navtop ul { margin: 0; padding:0;  }
#navtop li { display: inline;  }

/**  Центральная часть с тремя колонками  **/
#main { padding:0; }

/** Левая колонка (200px) **/
#left { float: left; width: 200px }

/** Правая колонка (200px) **/
#right { float:right; width: 200px }

/**  Центральная колонка (вся свобoдная ширина) **/
#center { width:auto; margin: 0 200px; }

/****  Добавляет отступы к центральной колонке при наличии боковых  ****/
body.rm-left  #center { margin-left:0; }
body.rm-right #center { margin-right:0; }
body.rm-both  #center { margin:0; }

/**  Контент в колонках **/
/*#lc-content, #rc-content, #mc-content { position:relative; }*/
#mc-content, #mc-content #content { overflow:hidden; }

/*****  Низ страницы  *****/
#footer {
    position:relative !important;
    min-width: 740px;
   /* max-width: 80em;*/
    margin: -73px auto 0;
    padding: 0;
}

/*****  Контент низа страницы  *****/
#footer-content {
    text-align: left;
    padding: 31px 20px 12px 20px;
    margin: 0px; 
	font-size:90%;
}
#footer a { background:transparent; }

/*****  Нижнее доп меню. вместе с #footer-content находится внутри #footer  *****/
#navbottom {
    min-width: 740px;
   /* max-width: 80em;*/
	font-size:99%;
	height:20px;
	text-align:center;
}
#navbottom ul    { text-align:center; margin:0;}
#navbottom ul li { display:inline; border-right:1px solid #555; padding:0 12px; }

/***  левое и правое меню сайта и каталогов ***/
ul.nav-left, ul.nav-right, ul.nav-cat-left, ul.nav-cat-right { margin: 0 0 5px 0; }
ul.nav-left li, ul.nav-right li, ul.nav-cat-left li, ul.nav-cat-right li {	
	margin: 0  0 3px 0; 
	padding: 7px 12px; 
	list-style: none; 
	zoom:1;
}
ul.nav-right li, ul.nav-cat-right li { text-align:right; }
li.nav-left-title, li.nav-right-title,
li.nav-cat-left-title, li.nav-cat-right-title { font-weight:bold; }
/*** страницы в боковых меню. 1, 2 и выше уровень вложенности  ***/
.nav1, .nav2, .nav3 {}
/*** текщая страница в боковых меню. 1, 2 и выше уровень вложенности  ***/
.navCur1, .navCur2, .navCur3 { text-decoration:underline; }
/* нижнее доп меню */
#navbottom ul li.first {  }
#navbottom ul li.last { border:none; }
/***  инфо о пользователе в верхнем доп меню  ***/
.auth-form-left { font-size:95%; }
/***  инфо о пользователе в левой/правой колонках  ***/
.user-info-left td { text-align:center; padding:.5em; font-weight:bold;} 
.icart-left { font-size:95%;}
/*** форма поиска сверху  ****/
#search-form-top {
	position:absolute;
	right:20px;
	top:20px;
	z-index:100;
	width:180px;
    padding:9px 25px 9px 5px;
	background:#fff;
	border:1px solid #ccc;
}
div.searchProgress { 
	background-image: url(style/images/loading.gif);
	background-position: right center;
	background-repeat:no-repeat;
}

/***  Результаты поиска ***/
#search-result  { border:1px solid #ccc; padding:.5em 1em; }
#search-result .close {
	display:inline;
	float:right;
	cursor:pointer;
	background:url(style/images/icons2.png) -5px -1480px no-repeat;
	width:16px;
	height:16px;
	zoom:1;
}
#search-result li { list-style:none; margin-bottom:.5em; }

/* ссылки на следующие страницы в каталогах, новостях и тд */
.pager { margin:.5em;}
.pager a { border:1px solid #668396; padding:.1em .5em; display:inline-block; font-weight:bold; margin:0 .25em; line-height:1.3em; }
.pager a.back, .pager a.forward { border:none; }
.pager a.current { background:#dee7ed; }
.pager a.page:hover { text-decoration:none; background:#dee7ed; }

#el-content { padding-bottom:1em;}

#popup-body { padding:1em; }
#popup-body .close { float:right; display:inline; margin:.3em .5em; padding-right:23px; background:url(../images/icons2.png) right -1480px no-repeat;}

.print, .hide { display:none; }

/***************************************/
/*** Дефолтное оформление каталогов  ***/
/***************************************/

/* Классы для раскрашивания рядов в зебру */
.strip-ev {  }
.strip-odd { background:#eee; }

/* Уровни вложености категорий */
.cat-level-1, .cat-level-1 strong { font-weight:bold; text-transform:uppercase; line-height:2.3em; }
.cat-level-2, .cat-level-2 strong { font-weight:bold; }
.cat-level-3, .cat-level-3 strong { font-weight:normal; }

/* Категории в одну и в две колонки  */
ul.cats-onecol, ul.cats-twocol ul       { margin:0; padding:0; list-style:none; }
ul.cats-onecol>li { border-bottom:1px solid #eee; }
ul.cats-onecol li, ul.cats-twocol ul li { margin:0;  padding: .3em 0; }
.cats-twocol ul { list-style:none; }

/* Ссылка - название категории */
a.cat-title { display: block; line-height:1.5em; margin-bottom:.3em; } 

/* Описание текущей категории */
.current-cat-descrip { margin:0.5em 0 0 0; padding:0; clear:both; border-bottom:1px solid #eee; }

/* Список документов в одну и в две колонки  */
ul.items-onecol      { margin:0; padding:0; list-style:none; }
ul.items-onecol li   { margin:0; padding:1em .5em;  border-bottom:1px solid #eee; }
ul.items-onecol li p { text-align: justify;}
.items-twocol {}

/* плавающие картинки в описании категории и документа */
.cats-onecol img[align], .cats-twocol img[align], .items-onecol img[align], .items-twocol img[align] { margin:.3em .5em; }

/* Один документ  */
.item, .item p { text-align:justify; }

/* Список связанных объектов */
.crosslinks-group       { margin:0.5em 0; border:1px solid #ccc; }
.crosslinks-group div   { padding:0.7em; background-color:#eee; font-weight:bold; position:relative; }
.crosslinks-group ul    { margin:0; }
.crosslinks-group ul li {  padding:.3em 0; list-style:none;}
/** Общее классы плагинов **/
.plugins 				{ font-size: 93%; margin: 0 0 .7em; position:relative; }
.plugins .admin-icons   { position:absolute; top:1px; right:1px; }
.plugins-title 			{ text-transform: uppercase; padding: .8em; zoom: 1; }
.plugins-title h5		{ padding: 0; margin: 0; }
.plugins-title a		{ text-decoration: none; }
.plugins-topic-title 	{ font-size: 1.29em; }
.plugins-content 		{}




/**************** Сетка *******************/
.grid-25-contentcol-last{
	padding:.5em;
	width:95%;
	margin-left:.5em;	
}
 
.grid-25-content { 
	padding:.5em;
	float:left;
	width:95%;
	margin-right:-100%;
	position:relative;
	left:-101%;
}
.grid-25-content .col-content ul li {
	display: block;
}

.grid-25-contentcol-last .col-content ul li  {
	display: block;
}

.clear {
	clear:both;
	font-size:0;
	overflow:hidden; /* тройной презерватив для IE */
}

.nicegrid-50 {
	width:49.4%;
	border:1px solid #ccc;
	margin-bottom:1%;
}
.nicegrid-51 {
	width:100%;
	margin-right:-100%; /* чтобы IE6 не раздвигал контейнер */
	position:relative;
	left: 102%;
	border:1px solid #ccc;
	margin:-1px;
}

.nicegrid-50 div.invisible {
	border:none;
	background:transparent;
}

