@charset "UTF-8";
@media print
{
  body { font-size: 10pt; }
  html { height: auto; margin-bottom: 0; }
  #navtop, #addnavtop, #navbottom, #search { display: none; }
  body a[href^="http:"],
  body a[href^="https:"] {
    padding-left: 0;
    background-image: none;
  }

  .col-content, .col-content-l, .col-content-r  { margin: 0; padding: 0; }


  .print { position: static; left: 0; display:block; }

  .noprint { display:none !important; }

  h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

  #lc-content:before, #rc-content:before, #mc-content:before {
    content: "";
    color:#888;
    background:inherit;
    display:block;
    font-weight:bold;
    font-size:1.5em;
  }

#lc { display:none; }
#rc { display:none; }
#mc, #mc-content { width: 100%; margin:0; padding: 0; border:0; }
}