.elslider,
.elslider-vert {
	position: relative;
	padding: 3px 20px;
/*	border: 1px solid #111;*/
}
.elslider-vert { padding: 20px 3px; }
.elslider>div,
.elslider-vert>div {
	position:relative; 
	overflow:hidden;
	padding:0;
	margin:0;
/*	border:1px solid blue; */
}

.elslider ul,
.elslider-vert ul {
	padding:0;
	margin:0;
	list-style:none;
/*	border:1px solid green;*/
	position:absolute;
}

.elslider .prev,
.elslider .next,
.elslider-vert .prev,
.elslider-vert .next { position:absolute; width:20px; height:20px; cursor:pointer; } 

.elslider .prev       { top:0;    left:0;  background:url(../images/elslider/left.png)   center center no-repeat; }
.elslider .next       { top:0;    right:0; background:url(../images/elslider/right.png)  center center no-repeat; }
.elslider-vert .prev  { top:0;    left:0;  background:url(../images/elslider/top.png)    center center no-repeat;}
.elslider-vert .next  { bottom:0; left:0;  background:url(../images/elslider/bottom.png) center center no-repeat;}

.elslider ul li {
	float:left;
	margin:0;
	padding:0;
/*	border:1px solid red;*/
}

.elslider-vert ul li {
	display:block;
	margin:0;
	padding:0;
/*	border:1px solid red;*/
}

/*.elslider ul li img { padding:0; margin:0; }*/