.ishop-finder-form { border:1px solid #ccc; background-color:#eee; padding:5px 12px; margin-bottom:5px; }
.ishop-finder-form-label { font-weight:bold; margin-bottom:12px; }
.ishop-finder-form-element { margin-bottom:5px; }
.ishop-finder-form-element-label { float:left; margin-right:9px;}
.ishop-finder-form-button { text-align:right; }