/********RESET*******/
@charset "UTF-8";

* { margin:0; padding: 0; }

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend, caption
{
	margin:0; padding: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}

table, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}

html, body, div, span,
applet, object, iframe,
fieldset, form, label, legend {	border: 0 solid; }


/*  IE5 & IE6 likes it  */
* html body *   { overflow:visible; }
* html iframe, 
* html frame    { overflow:auto; }
* html frameset { overflow:hidden; }

/*  Включаем вертикальный скролл в FF & Safari  */
html { height: 100%; margin-bottom: 1px; }

/** Default body  **/
body {
    font-size: 100.01%; /* Fix for font size in old Opera  */
    color: #000;
    background: #fff;
    text-align: left; 
  }                               
/*  Исправляем слишком мелкий select  */
option { padding-left: 0.4em; } 
select { padding: 1px; }
/*  No image borders  */
img, a img, :link img, :visited img { border: 0; }
a { outline: none; }
blockquote { margin: 0 0 1em 0.8em; } 
q:before, q:after,blockquote:before, blockquote:after { content: ""; }

/*************  clearfix  **********************/

.clearfix:after {
  content: ".";
  display: block;
  font-size:0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: block; }
.floatbox { overflow:hidden; }
.ie-clear { display: none; }


/************fonts**********/
body {
  font-family: Trebuchet MS, Verdana, Geneva,sans-serif;
  font-size: 76.00%;
  color: #000;
}

/************  Заголовки  *******************/

h1, h2, h3, h4, h5, h6 { font-family: Trebuchet MS, Verdana, Geneva,sans-serif;	color:#111; }
h1 { font-size:2.5em;   margin-bottom:0.5em;  line-height:1;}
h2 { font-size:1.7em;   margin-bottom:0.75em; }
h3 { font-size:1.3em; margin-bottom:1em;    line-height:1;}
h4 { font-size:1.2em; margin-bottom:1.2em;  line-height:1.25;}
h5 { font-size:1em; margin-bottom:1.3em;  font-weight:bold;}
h6 { font-size:.8em;   margin-bottom:0.5em;  font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; }

/************  Списки  **********************/

ul, ol, dl { line-height: 1.5em; margin: 0 0 1em 1em; }
ul      { list-style-type: disc; }
ul ul    { list-style-type: circle; }
ol li      { list-style-type: decimal; }
ol ol li   { list-style-type: lower-latin; }
li         { margin-left: 0.8em; line-height: 1.5em; }
dt         { font-weight: bold; }
dd         { margin: 0 0 1em 0.8em; }

/************  текст  ***********************/

p { line-height: 1.5em; margin: 0 0 .3em 0; }
blockquote, cite, q { font-family: Georgia, "Times New Roman", Times, serif;  font-style:italic; }
blockquote { margin: .3em 0 1em 1.5em; color: #666;  }
strong,b { font-weight: bold; }
em,i     { font-style: italic; }
textarea, pre,  kbd, samp, var, tt { font:1.15em 'monaco', 'andale mono', 'lucida console', monospace; line-height:1.35em; }
pre, code, kbd, 
tt, samp, var  { font-size: 100%; }
pre, code      { color: #666; }
pre            { line-height: 1.5em; margin: 0 0 .1em 0; }
kbd, samp, var { color: #666; }
var            { font-style: italic; }
code {font:1.16em 'monaco', 'andale mono', 'lucida console', monospace;}
acronym, abbr {
  border-bottom: 1px #aaa dotted;
  font-variant: small-caps;
  letter-spacing: .07em;
  cursor: help;
}

sub, sup { font-size: 91.6667%; }

hr {
  color: #fff;
  background:transparent;
  margin:  0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  border:0;
  border-bottom: 1px #eee solid;
}

/** Йа формочко **/
table.form-tb           { width:100%; }
table.form-tb thead th  { padding:0.7em; }
table.form-tb thead th img { margin:0 .5em;}
table.form-tb tfoot td  { text-align:center; }
table.form-tb tfoot td input, 
.form-submit            { /*padding:2px 3px; margin:0 .25em; border:none; font-weight:bold; font-size:95%;*/ zoom:1; }
.form-errors            { padding-left:3em; line-height:2em; background: url('../images/icons2.png') -3px -1961px no-repeat;}
.form-tb-sub            { font-weight:bold; text-align:center; border-bottom:1px solid #ccc; }
.form-req, .form-errors { color:red; }
table.form-tb label { margin: .3em; display:inline-block;}

/***************  ссылки  ************************/

a { background:transparent; text-decoration:none; }

/******  Плавающие картинки и подписи к ним  *******/

p.img-left  { float:left;  display:inline; margin: 0 1em 0.15em 0; }
p.img-right { float:right; display:inline; margin: 0 0 0.15em 1em; }
p.img-left img,
p.img-right img { padding:0; border: 1px #888 solid; }
p.img-left label,
p.img-right label { 
	display:block; 
	overflow:hidden; 
	margin-top: 2px; 
	padding: 0.3em 0.5em; 
	background: #eee; 
	font-weight: normal; 
	font: 92% Arial, sans-serif; 
}


/***********  Доп оформление  **************/

.highlight { background: #ff0; }
.mute      { color: #888; }
.info      { background: #f8f8f8; color: #666; padding: 10px; margin-bottom: 0.5em; font-size: 91.7%; }
.note      { background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em; }
.important { background: #ffe; color: #440; border: 2px #884 solid; padding: 10px; margin-bottom: 1em; }
.warning   { background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }

.float-left  { float: left;  display:inline; margin-right: 1em; margin-bottom: 0.15em; }
.float-right { float: right; display:inline; margin-left:  1em; margin-bottom: 0.15em; }
.center      { display:block; text-align:center; margin: 0.5em auto; }

/************  Таблицы  *******************/
table.collapse { border-collapse: collapse;	border-spacing: 0; }
table.full {width:100%;}

table       { border-collapse:collapse; margin-bottom: 0.5em; }
table.full  { width: 100%; }
table.fixed { table-layout:fixed; }
th,td       { padding:0.3em 0.5em; vertical-align:middle; }
th          { font-weight:bold; }

table.nice          { border-top: 2px #888 solid; border-bottom: 2px #888 solid; }
table.nice caption  { font-variant:small-caps; font-size:110%; }
table.nice  th, table.nice  td  { padding:0.7em 0.9em; }
table.nice thead th { color: #000; border-bottom: 1px #fa5716 solid; }
table.nice tbody th { color: #333; background: #eee; border-bottom: 1px solid #fff; }
table.nice tbody th[scope="row"], th.sub { background: #f0f0f0; }
table.nice tbody td { border-bottom: 1px solid #eee; }
table.nice tbody tr:hover th[scope="row"],
table.nice tbody tr:hover tbody th.sub,
table.nice tbody tr:hover td { background: #f2f2f2; }


/*******************************************************/
/****             Админская часть                   ****/
/*******************************************************/

div.multiselect { 
	position:relative;
	padding:3px 0;
}
div.multiselect .multiselect-opts { 
	padding: 3px 7px; 
	position:absolute; 
	z-index:1000; 
	width:60%;
	height:250px; 
	overflow:auto;
	background:#fff;
	border:1px solid #ccc;
}
div.multiselect label { 
	display:block; 
	padding:1px 0; 
	border-bottom:1px solid #ccc;
	white-space:nowrap;
}
div.multiselect label input { margin-right:.7em; }

/** Заголовок с табами (контрольный центр)  **/
div.tab, div.title-tabs-path { position:relative; border:1px solid #ccc; zoom:1; }
div.tab { 
	margin:0 .1em 0 0;
	padding:.5em 1em;
	display:inline-block;
	background:#ccc url(../images/tab.gif) top repeat-x; 
	border-bottom:none; 
	z-index:2;
}
div.tab-a {	background:#eee url(../images/tab-a.gif) top repeat-x; }
div.tab a { font-weight:bold; color:#222; }
div.tab a, div.tab a:hover { text-decoration:none; }
div.tab:hover { background:#eee; }
div.title-tabs-path {
	background:#eee;
	padding: 1em;
	z-index:1;
	margin:-1px 0 3px 0;
}

div.tabs-pane { margin-top:.3em; }
/* админская табл */
table.grid-tb { width:99%; border:1px solid #ccc; position:relative; margin:0.5em 0 .5em 2px; }
table.grid-tb td, table.grid-tb th { border-bottom:1px solid #ccc; padding:.5em; }
table.grid-tb thead th { background:#eee url(../images/grid-tb-head.png) top repeat-x;  }
table.grid-tb tbody th { background:#eee;}
table.grid-tb tbody tr:hover { background:#f5f5f5; }
table.grid-tb thead td, table.grid-tb td.sub { background:#f5f5f5; font-size:90%; font-weight:bold; }
table.grid-tb td.admin, table.grid-tb th.admin { text-align:right; white-space:nowrap;}

/* таблица с сортировкой */
table.tablesorter thead .header { 
	background-image:url(../images/asc-desc.gif); 
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead .headerSortUp   { background-image:url(../images/asc.gif); }
table.tablesorter thead .headerSortDown { background-image:url(../images/desc.gif); }
table.tablesorter thead tr th           { background: #eee; }
/* таблица-дерево (нaвигация) */
.treeTable tr td .expander {
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1; 
}
.treeTable tr.collapsed td .expander {
  background-image: url(../images/collapsed.gif);
}
.treeTable tr.expanded td .expander {
  background-image: url(../images/expanded.gif);
}
.admin-icons { float: right; display:inline; border:none; margin-left:  1em; margin-bottom: 0.15em; text-align:right;}

/***  Сообщения, warning, debug  ***/
.msg, .warn, .debug {
	border:2px solid #9fbaca;
	padding:20px 20px 20px 55px;
	margin:5px 0; 
	font-weight:bold;
	background-position:0 center;
	background-repeat:no-repeat;
}

.msg  {background: #eeffee url(../images/message.gif) 7px center no-repeat; color: #040; border: 2px #448844 solid; }
.warn { border-color:red; background: #fee url(../images/warning.gif) 7px center no-repeat; color:#ff0000; border: 2px #844 solid;}


.debug { 
	margin:5px 7px; 
	background:#000 url(../images/debug.gif) 7px 9px no-repeat; 
	padding:11px 12px; 
	line-height:1.2em; 
	color:#fff;
}
.debug strong { display:block; margin:9px 25px;}

/* пилим кругом*/
.rounded-2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.rounded-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.rounded-4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.rounded-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.rounded-6 { -moz-border-radius: 6px; -webkit-border-radius: 5px; border-radius: 6px; }
.rounded-7 { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }

/*Верх кругом*/
.rounded-top-2 { -moz-border-radius-topleft:2px; -moz-border-radius-topright:2px; -webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;}	
.rounded-top-3 { -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; -webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;}	
.rounded-top-5 { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}	
.rounded-top-7 { -moz-border-radius-topleft:7px; -moz-border-radius-topright:7px; -webkit-border-top-left-radius: 7px;-webkit-border-top-right-radius: 7px; border-top-left-radius: 7px; border-top-right-radius: 7px;}	

/*Низ кругом*/
.rounded-bottom-2 { -moz-border-radius-bottomleft:2px; -moz-border-radius-bottomright:2px; -webkit-border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}	
.rounded-bottom-3 { -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}	
.rounded-bottom-5 { -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-left-radius: 5px;-webkit-border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}	
.rounded-bottom-7 { -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -webkit-border-bottom-left-radius: 7px;-webkit-border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;}	

/*Левый кругом*/
.rounded-left-2 { -moz-border-radius-topleft:2px; -moz-border-radius-bottomleft:2px; -webkit-border-top-left-radius: 2px;-webkit-border-bottom-left-radius: 2px; border-top-left-radius: 2px; border-bottom-left-radius: 2px;}	
.rounded-left-3 { -moz-border-radius-topleft:3px; -moz-border-radius-bottomleft:3px; -webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}	
.rounded-left-5 { -moz-border-radius-topleft:5px; -moz-border-radius-bottomleft:5px; -webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}	
.rounded-left-7 { -moz-border-radius-topleft:7px; -moz-border-radius-bottomleft:7px; -webkit-border-top-left-radius: 7px;-webkit-border-bottom-left-radius: 7px; border-top-left-radius: 7px; border-bottom-left-radius: 7px;}	

/*Правый кругом*/
.rounded-right-2 { -moz-border-radius-topright:2px; -moz-border-radius-bottomright:2px; -webkit-border-top-right-radius: 2px;-webkit-border-bottom-right-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px;}	
.rounded-right-3 { -moz-border-radius-topright:3px; -moz-border-radius-bottomright:3px; -webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}	
.rounded-right-5 { -moz-border-radius-topright:5px; -moz-border-radius-bottomright:5px; -webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}	
.rounded-right-7 { -moz-border-radius-topright:7px; -moz-border-radius-bottomright:7px; -webkit-border-top-right-radius: 7px;-webkit-border-bottom-right-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}	

.debug-one, .debug-rec { border:1px solid #000;}
.debug-rec div { border:1px solid red; }
.debug-rec div div { border:1px solid blue; }
.debug-rec div div div { border:1px solid green; }
.debug-rec div div * div { border:1px solid #ccc; }
table.debug-one td { border:1px solid #ccc;}

ul.adm-icons {
	float:right;
	border:none; 
	padding:0;
	list-style:none;
	margin: 0;
}

ul.adm-icons li {
	float:left;
	border:none;
	margin:0;
	padding:0
}

ul.adm-icons li a {
	margin:0px 2px;
}

.icons {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background:url(../images/icons2.png) 0 0 no-repeat;
}

a.icons {
	display:block;
	width:20px;
	height:19px;
	border:1px solid #ccc;
	text-decoration:none;
}

.access          { background-position: -3px -1938px; }
.album-edit      { background-position:  2px -25px;   }
.backup-restore  { background-position: -3px -1781px; }
.basket          { background-position: -3px -1550px; }
.reload          { background-position: -2px -1781px; }
.cat-edit        { background-position: -3px -1571px; }
.cat-new         { background-position:  2px -483px;  }
.clean           { background-position: -3px -1637px; }
.conf            { background-position: -3px -52px;   }
.create          { background-position: -3px -1164px; }
.delete          { background-position: -3px -1382px; }
.down            { background-position: -3px -1615px; }
.find            { background-position: -3px -1455px; }
.ft-set          { background-position: -3px -1804px; }
.edit            { background-position: -3px -26px;   }
.image           { background-position: -3px -395px;  }
.img-edit        { background-position:  2px -1490px; }
.lock            { background-position: -3px -1194px; }
.logout          { background-position: -3px -1430px; }
.money           { background-position: -3px -2117px; }
.move-to         { background-position: -3px -1527px; }
.ok              { background-position: -3px -620px;  }
.passwd          { background-position: -3px -1938px; }
.pdf             { background-position: -3px -2096px; }
.print           { background-position: -3px -1505px; }
.sort-num        { background-position: -3px -1031px; }
.stick           { background-position: -3px -2048px; }
.switch-off      { background-position: -3px -1756px; }
.switch-on       { background-position: -3px -1733px; }
.up              { background-position: -3px -1595px; }
.user            { background-position: -3px -1406px; }
.user-edit       { background-position: -3px -1868px; }
.user-group      { background-position: -3px -1892px; }
.user-group-edit { background-position: -3px -1914px; }

a.el-collapsed {padding: 0 0 0 20px;background:url(../images/icons2.png) -4px -1829px no-repeat;}
a.el-expanded {padding: 0 0 0 20px; background:url(../images/icons2.png) -4px -1846px no-repeat;}

a.link { background:url(../images/links.png) 0 0 no-repeat; line-height:2em; padding: 3px 19px 3px 0;}

a.forward   { background-position: right -18px;}
a.forward2  { background-position: 0 -21px;  padding: 0 0 0 19px;}
a.top       { background-position: right 5px;}
a.bottom    { background-position: right -40px;}
a.back      { background-position: 0 -67px; padding: 0 0 0 19px;}
a.external  { background-position: right -83px; }
a.download  { background-position: 0 -170px; padding: 0 0 0 19px;}
a.mail      { background-position: right -188px;}
a.xls       { background-position: right -145px; }
a.link-user { background-position: 0 -234px; padding: 0 0 0 17px;}
a.link-image     { background-position: 0 -275px; padding: 0 0 0 25px;}
a.link-delete     { background-position: 0 -255px; padding: 0 0 0 25px;}
a.link-close {padding: 2px 25px 2px 0; line-height:22px; background:url(../images/icons2.png) right -1477px no-repeat;}

a[href $='.pdf'], a[href $='.doc'], a[href $='.xls'] {line-height:2em; padding: 3px 17px 3px 0;}
a[href $='.pdf'] { background: transparent url(../images/links.png) right -210px no-repeat;}
a[href $='.doc'] { background: transparent url(../images/links.png) right -126px no-repeat;}
a[href $='.xls'] { background: transparent url(../images/links.png) right -146px no-repeat;}


