#mod-bb-panel { 
	border: 1px solid #bed0db;  
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background:#dee7ed;
	height:30px;
	margin-bottom:.7em;
}
#mod-bb-panel table { width:100%; margin:0;}
#mod-bb-panel table td.left { width:40%; padding:6px 9px;}
#mod-bb-panel table td.right { width:60%; text-align:right; }

div.mod-bb-post-button {
	display:inline-block; 
	margin: .1em; 
	border: 1px solid #40708f;  
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	height:20px;
}
div.mod-bb-post-button a { 
	display:block; 
	line-height:20px; 
	font-weight:bold; 
	padding:0 1em 0 2em; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color:#e9f1f7;
	background-position:2px 2px;
	background-repeat:no-repeat;
	background-image: url(../../icons/admin/document-new.png); 
	}
	
div.mod-bb-cat { padding:1em;}
div.mod-bb-cat h3 { margin-bottom:.5em; color:#182E7A;}
div.mod-bb-cat div.num { padding:0 1.5em;}
div.mod-bb-item { 
	border:1px solid #bed0db; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	margin-bottom:.5em;
	padding:.5em;
}

div.mod-bb-item div.author { margin-bottom:1em; text-decoration:underline;}

div.not-published h3, div.not-published div, div.not-published p { color:#777;}
