/* Верняя панель */
div.mod-forum-top { background:#dee7ed; margin: .5em 0;  }
div.mod-forum-top table { width:100%; margin:0; }
div.mod-forum-top table td { padding:0.3em 1em; }
div.mod-forum-top table td a { font-weight:bold; }
div.mod-forum-top table td.last {  text-align:right; white-space:nowrap;  }
div.mod-forum-top table td.last form { text-align: right; white-space:nowrap;}
div.mod-forum-top table span { padding:0 .5em; font-size:120%; color:#fff;}
div.mod-forum-top table td.last table { width:auto; margin:0; }
div.mod-forum-top table td.last table td { padding:0 .5em;}
div.mod-forum-top table td.last table a.user-name,
div.mod-forum-top table td.last table a.logout { display:block;}
div.mod-forum-top table td.last table a.user-name { 
	background:url(../../icons/user/user.png) 0 0 no-repeat; 
	padding-left:20px; 
	margin-bottom:5px; 
	font-size:110%;
}
div.mod-forum-top table td.last table a.logout { 
	background:url(../../icons/user/logout.png) 0 0 no-repeat; 
	padding: 3px 0 0 20px; 
	height:16px; 
	font-size:9px;
}
div.mod-forum-top table td.last table div {  border:1px solid #fff; }

/* Заголовок форума или топика */
h4.mod-forum-head    { margin-bottom:.3em;}
/* Панели с кнопками "Новая тема" и "Ответить" и постраничной разбивкой */
div.mod-forum-pager { background:#c5d5df; margin-bottom:.5em; }
div.mod-forum-pager table { width:100%; margin:0; }
div.mod-forum-pager table td { padding:0.3em 1em; }
div.mod-forum-pager table td.last { text-align:right;}
div.mod-forum-pager table td .pager  { margin:0; }
div.mod-forum-pager table td .pager a.page    { background:#fff; margin:0 .1em;}
div.mod-forum-pager table td .pager a.page:hover,
div.mod-forum-pager table td .pager a.current {  background:#a7c1d2; }

/* Кнопки */
.mod-forum-button {
	/*float: right;*/ 
	display:inline-block; 
	margin: .1em; 
	border: 1px solid #40708f;  
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	height:20px; 
	}
.mod-forum-button a { 
	display:block; 
	line-height:20px; 
	font-weight:bold; 
	padding:0 1em 0 2em; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color:#e9f1f7;
	background-position:2px 2px;
	background-repeat:no-repeat;
	}
.mod-forum-button a:hover      { background-color:#eee; }
.mod-forum-button-post-new a   { background-image: url(../../icons/admin/document-new.png); }
.mod-forum-button-post-reply a { background-image: url(../../icons/admin/documents.png) ; }
.mod-forum-button-post-edit a  { background-image: url(../../icons/admin/document-edit.png); }
.mod-forum-button-post-rm a    { background-image:  url(../../icons/user/close.png); }
.mod-forum-button-post-lock a  { background-image: url(../../icons/admin/lock.png); }
.mod-forum-button-post-stick a { background-image: url(../../icons/admin/sticky.png); }

/* дивы - обертки списков форумoв, топиков, постов */
div.mod-forum-fl-wrapper, 
div.mod-forum-tl-wrapper, 
div.mod-forum-p-wrapper, 
div.mod-forum-u-wrapper, 
div.mod-forum-prf-wrapper { 
	border:1px solid #a7c1d2; 
	border-bottom: 5px solid #a7c1d2;
	margin-bottom:.5em;
}

/* таблицы */
div.mod-forum-fl-border, /* форумы */
div.mod-forum-tl-border, /* топики */
div.mod-forum-p-border,  /* посты */
div.mod-forum-u-border,  /* пользователи */
div.mod-forum-prf-border /* профайл */
	{ border:2px solid #fff; border-bottom:1px solid #fff;  margin:0; }

table.mod-forum-fl,
table.mod-forum-tl,
table.mod-forum-posts,
table.mod-forum-users,
table.mod-forum-profile { width:100%; background:#ededed; margin:0; }

table.mod-forum-tl thead th,
table.mod-forum-posts thead th,
table.mod-forum-users thead th,
table.mod-forum-profile thead th { background: #a7c1d2; padding:.7em; color:#fff; white-space:nowrap;}

table.mod-forum-fl td,
table.mod-forum-tl td,
table.mod-forum-posts td,
table.mod-forum-users td,
table.mod-forum-profile td { border:1px solid #fff; }

table.mod-forum-fl td.first,
table.mod-forum-tl td.first,
table.mod-forum-posts td.first,
table.mod-forum-users td.first,
table.mod-forum-profile td.first { border-left:none; }
table.mod-forum-fl td.last,
table.mod-forum-tl td.last,
table.mod-forum-posts td.last,
table.mod-forum-users td.last,
table.mod-forum-profile td.last { border-right:none; }

/*  форум верхнего уровня */
div.mod-forum-fl-top    { background:#a7c1d2; padding:.3em 10px .1em 8px;   }
a.mod-forum-fl-top-ico  { display:inline-block; }
a.mod-forum-fl-top-name { display:inline-block; vertical-align:top; margin:.9em 0 0 1em; font-size:120%; color:#fff; }

/* Подфорумы второго уровня */
table.mod-forum-fl a:visited, 
table.mod-forum-tl a:visited  { color:#4f84a6; }
td.mod-forum-fl-ico           { background:#c5d5df; width:24px; }
td.mod-forum-fl-name          { width:55%;}
td.mod-forum-fl-name strong   { font-size:120%; }
td.mod-forum-fl-name div      { font-size:90%;}
td.mod-forum-fl-num           { background:#c5d5df; width:100px; }
table.mod-forum-fl td.last    { font-size:97%; }
td.mod-forum-fl-admin         { width:39px; text-align:right; }
td.mod-forum-fl-admin div     { white-space:nowrap;}
/* форумы 3-го уровня */
.mod-forum-fl ul              { margin:.5em 0; padding:0; }
.mod-forum-fl ul li           { display:inline; margin:0; padding:0 .8em; }
li.mod-forum-level3-noread    { background:url(../../images/forum/forums/level3-noread.gif) 0 50% no-repeat;}
li.mod-forum-level3-read      { background:url(../../images/forum/forums/level3-read.gif) 0 50% no-repeat;}

/*  список топиков  */
td.mod-forum-tl-ico         { background:#a7c1d2; width:24px; text-align:center; }
td.mod-forum-tl-name        { width:50%;}
td.mod-forum-tl-author      { width:170px;}
td.mod-forum-tl-author span { font-size:90%;}
td.mod-forum-tl-num, 
td.mod-forum-tl-view        { background:#c5d5df; width:40px; text-align:center;}
table.mod-forum-tl td.last  { background:#c5d5df; font-size:97%; }
table.mod-forum-tl 
   td.mod-forum-tl-admin    { border-right:none; text-align:right; }

/*  список постов  */
table.mod-forum-posts td        { vertical-align:top; }
table.mod-forum-posts 
   tr.mod-forum-post-row-ev td  { background:#f2f2f2;}
table.mod-forum-posts 
   tr.mod-forum-post-row-odd td { background:#dee7ed;}
td.mod-forum-post-author        { text-align:center; width:125px;  }
td.mod-forum-post-author strong { font-size: 110%; margin:.5em 0; display:block; text-align:center;}
td.mod-forum-post-author img    { border:2px solid #fff; margin:.2em 0 2em 0; }
td.mod-forum-post-author div    { font-size:92%; margin:.3em 0;}
table.mod-forum-posts td hr     { border-bottom: 1px #ccc solid; clear:both;}
td.mod-forum-post-msg 
   div.post-actions             { text-align:right; clear:both; margin-top:1em;}
div.mod-forum-post-title        { border-bottom:1px solid #ccc; padding:.5em; margin-bottom:1em;}
div.mod-forum-post-title code   { font-size:92%;}
span.mod-forum-post-date        { font-size:92%;}
div.mod-forum-post-modilied     { font-size:92%; font-style:italic; margin:1em; text-align:right;}
/* аттачменты в постах */
div.mod-forum-attach { margin:.3em; 0}
div.mod-forum-attach div { 
	float:left; 
	background: #ffe; 
	color: #440; 
	border: 2px #884 solid; 
	padding: 7px; 
	text-align:center;
	margin:0 .2em;
	}
div.mod-forum-attach div span { font-size:90%; }
#attach-progress { height:30px; text-align:center; background:url(../../images/loading.gif) 50% 50% no-repeat;}
/* bb-codes */
p.bb-left      { text-align:left; float:left; }
p.bb-right     { text-align:right; float:right; }
p.bb-left img  { margin: .1em .5em .3em 0;}
p.bb-right img { margin:.1em 0 .3em .5em;}
table.mod-forum-posts td div.spoiler { 
	border:1px solid #a7c1d2; 
	background:#fff;
	padding:.3em; 
	margin: .5em 0;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	clear:both;
	}
table.mod-forum-posts td div.spoiler a.el-collapsed { 
	display:block; 
	border:1px solid #a7c1d2; 
	background-color: #c5d5df; 
	padding: .5em .5em .5em 15px; 
	color:#555;
	font-weight:bold;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
div.spoiler div { padding: .5em;}


/*  Список пользователей  */
table.mod-forum-users 
   tr.mod-forum-users-row-ev td  { background:#f2f2f2;}
table.mod-forum-users 
   tr.mod-forum-users-row-odd td { background:#dee7ed;}
td.mini-avatar                   { width:50px; text-align:center; }
td.mini-avatar img               { border:1px solid #fff;}
td.user-status                   { width:50px; }
td.user-status div               { width:50px; height:22px; background-position: center; background-repeat:no-repeat; }
td.user-status div.online        { background-image:url(../../images/forum/users/online.png);}
td.user-status div.offline       { background-image:url(../../images/forum/users/offline.png);}
td.user-site                     { width:55px; text-align:center; }
td.reg-date                      { width: 120px; }
td.posts-num                     { width:50px; text-align:center; font-weight:bold;}

/* Профайл */
td.profile-avatar     { width:150px; text-align:center; background:#dee7ed; padding:.7em; }
td.profile-avatar img { margin-bottom:1em; border:1px solid #fff;}
td.profile-avatar a { 
	display:block; 
	margin:.5em 0; 
	line-height:16px;
	padding-left:23px; 
	white-space:nowrap;
	background-repeat:no-repeat;
}
td.profile          { background:#f2f2f2; border-left:3px solid #fff; text-align:center; padding-left: 12%; }
td.profile table    { width:75%;  border:none; }
td.profile table td { border:none; border-bottom:1px solid #ccc; font-weight:bold; padding:.5em;}
span.status-online  { color: green; }
span.status-offline { color:#bbb; }

/* ссылки в профайле */
a.user-edit  { background-image:url(../../icons/admin/user-edit.png);}
a.user-passwd  { background-image:url(../../icons/user/passwd.png);}
a.user-rm    { background-image:url(../../icons/admin/delete.gif);}
a.moderator  { background-image:url(../../icons/admin/users-group-set.png);}
a.avatar-rm  { background-image:url(../../icons/user/close.png);}
a#up-av-link { background-image:url(../../icons/admin/img-new.png);}
a.pm         { background:url(../../icons/user/mail.png) 0 -2px no-repeat;}

/* bbcode editor */
div.bbeditor          { padding-top:.5em; margin-top:.5em; border-top:1px solid #eee; }
div.bbeditor textarea { margin-top:1em; }
div.bbeditor div.last { background:transparent;}
/* группа кнопок */
div.bb-group { 
	display:inline-block; 
	-moz-display:-moz-inline-stack; 
	height:30px;  
	padding:0 7px 0 4px;
	background:url(../../icons/bbcode-editor/separator.gif) right 50% no-repeat;
}
div.bb-group select        { height:12px; }
div.bb-group select option { background:#ccc;}
/* обертка кнопки */
div.bb-button, div.bb-sel {
	float:left;
	height:20px;
	margin: 3px; 
}
div.bb-button {  
	width:20px;
	border:1px solid #ccc; 
	background:url(../../icons/bbcode-editor/bg.gif) repeat-x;
	}
div.bb-sel { padding-top:1px; }
/* кнопка */
div.bb-button a {  
	background-repeat:no-repeat;
	display:block;
	width:20px;height:20px;  
	background-image: url(../../icons/bbcode-editor/bbcodes.png); 
	background-repeat:no-repeat;
	zoom:1;
	cursor:default;
}
div.bb-button a:hover { background-color:#a2b3ec; }

/* кнопки по типам */
a.bb-b       { background-position:0 0;}
a.bb-i       { background-position:-20px 0;}
a.bb-u       { background-position:-40px 0;}
a.bb-s       { background-position:-60px 0;}
a.bb-sub     { background-position:-80px 0;}
a.bb-sup     { background-position:0 -20px;}
a.bb-code    { background-position:0 -60px;}
a.bb-left    { background-position:-20px -20px;}
a.bb-center  { background-position:-60px -20px;}
a.bb-right   { background-position:-40px -20px;}
a.bb-pre     { background-position:-80px -20px;}
a.bb-quote   { background-position:-20px -40px;}
a.bb-list    { background-position:-40px -40px;}
a.bb-li      { background-position:-60px -40px;}
a.bb-hr      { background-position:0 -40px;}
a.bb-url     { background-position:-20px -60px;}
a.bb-img     { background-position:-40px -60px;}
a.bb-table   { background-position:-60px -60px;}
a.bb-tr      { background-position:-60px -60px;}
a.bb-td      { background-position:0 -80px;}
a.bb-spoiler { background-position:-80px -40px;}
a.bb-move    { background-position:-20px -80px;}
/* смайлики в редакторе*/
div.bb-smiley { padding:5px 5px;}
div.bb-smiley img { margin:0 4px 0 5px;}
/*  предпросмотр сообщения  */
#forum-preview-loading { 
	height:33px; 
	padding-top:7px; 
	font-size:120%; 
	border:1px solid #ccc; 
	text-align:center; 
	background:url(../../images/loading.gif) center center no-repeat;
}





