ul.mod-poll    { margin:0; padding:0; }
ul.mod-poll li { margin:0 0 1.5em 0; padding:0 0 1em 1em; border-bottom:1px solid #eee; }
/* открытое голосование */
.mod-poll-one { padding-left:1em;  }
.mod-poll-one em,  /* комент к голосованию */
.mod-poll-one label { display:block; margin:1em 0; } /* вариант выбора */
.mod-poll-one label input { border:none; } /* Stupid IE */
/* завершенное голосование */
.mod-poll-var      { padding:0 0 1em 0; }
.mod-poll-var div  { margin-bottom: 0.5em; padding:0;} /* вариант выбора */
.mod-poll-var em   { font-size:90%; margin:0;} /* процент голосов */
/* процент граф */
div.mod-poll-prc       { width:98%; height:9px; border:1px solid #ccc; }
div.mod-poll-prc-color { margin:0; height:9px; background:#fa5716; }
