
#teEditZone, #teError { border:1px solid gray; padding:3px; }
#teTpl { padding:7px; font-weight:bold;  }
div.teButtons { text-align:center; padding:5px }

#teLoad {
  width:100%;
  height:50px;
  text-align:center;
  padding:24px 0 0 0;
  font-weight:bold;
  color:red;
  background:url(../icons/lightbox/loading.gif) center no-repeat;
  }

.teErrorHead { padding:5px; font-weight:bold; color:red; text-align:center; }
#teErrMsg { padding:7px; text-align:center; }

.teAchtung { padding:7px; color:red; font-weight:bold; border:1px dotted red; }

.dirCtr {
  width:11px;
  border:1px solid gray;
  text-align:center;
  vertical-align:bottom;
  font-weight:bold;
  padding:2px;
  color:#000;
  }
.teDir a { text-decoration:none; }



table.teDirName { border:none;}
table.teDirName td { font-weight:bold; padding:2px; }

.teDirFiles table { background:#fff; border-bottom:1px dotted gray; }
td.teMtime { font-size:small; white-space:nowrap; }
#teList span { font-size:small; }