ul.mod-faq li { list-style:none; margin-bottom:1em;  }
ul.mod-faq h4 { font-variant:small-caps; margin-bottom:.5em;}
ul.mod-faq h5 { display:inline; }
.mod-faq-answ {margin:.5em 0 .5em 1.5em;}
.mod-faq-askaquestion { border-top:1px solid #ccc; padding:1em; }
.mod-faq-askaquestion div { margin-top:1em;}



