/* контейнер */
.mod-ishop { border:0px solid #ccc;}
/* переключалка видов */
.mod-ishop-switch-view { 
	float:right;
	height:20px;
	padding-left:20px;
	margin-top:-22px; 
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
/* переключалка видов - один таб */
.mod-ishop-switch-view-tab {
	float:right;
	width:110px;
	height:20px;
	border:1px solid #ccc;
	border-bottom:none;
	background-color:#eee;
	text-align:center;
}
/* переключалка видов - выбранный таб */
.mod-ishop-switch-view .current { background-color:#fff;}
/* текущая категория/производитель */
.mod-ishop-parent-cat { }
.mod-ishop-parent-cat h2 { }
.mod-ishop-parent-cat-descrip { }
.mod-ishop-parent-mnf { }
.mod-ishop-parent-mnf h2 { }
.mod-ishop-parent-mnf-descrip { }

/* категории/производители в одну колонку */
ul.mod-ishop-cats-onecol,
ul.mod-ishop-mnfs-onecol,
ul.mod-ishop-tms-onecol  {  }
ul.mod-ishop-cats-onecol li,
ul.mod-ishop-mnfs-onecol li,
ul.mod-ishop-tms-onecol  li {  }
/* ссылка с категории (в одну колонку) */
.mod-ishop-cats-onecol-name { }
/* ссылка с производителя (в одну колонку) */
.mod-ishop-mnfs-onecol-name { }
/* ссылка с торговой марки (в одну колонку) */
.mod-ishop-tms-onecol-name { }
/* описание категории (в одну колонку) */
.mod-ishop-cats-onecol-descrip { }
/* описание производителя (в одну колонку) */
.mod-ishop-mnfs-onecol-descrip { }
/* описание торговой марки (в одну колонку) */
.mod-ishop-tms-onecol-descrip  { }
/* лого производителя (в одну колонку) */
.mod-ishop-mnfs-onecol-logo    { float:left; margin-right:5px; }

/* товары в одну колонку */
ul.mod-ishop-items-onecol { }
/* название */
.mod-ishop-items-onecol h4 {}
/* картинка товара в списке */
.mod-ishop-items-onecol-img img { padding:3px; border:1px solid #ccc; float:left; margin-right:7px; }
/* цена товара в списке */
.mod-ishop-items-onecol-price { float:right; }
/* код товара в списке */
.mod-ishop-items-onecol-code { }
/* производитель товара в списке */
.mod-ishop-items-onecol-mnf { }
/* торговая марка товара в списке */
.mod-ishop-items-onecol-tm  { }
/* описание товара в списке */
.mod-ishop-items-onecol-announce { clear:both; }

/* категории/производители в две колонки */
.mod-ishop-cats-twocol { }
.mod-ishop-mnfs-twocol { }
.mod-ishop-tms-twocol  { }
/* ссылка с категории (в две колонки) */
.mod-ishop-cats-twocol-name { }
/* ссылка с под-категории (в две колонки) */
.mod-ishop-cats-twocol-name-sub { }
/* описание категории (в две колонки) */
.mod-ishop-cats-twocol-descrip { }
/* описание под-категории (в две колонки) */
.mod-ishop-cats-twocol-descrip-sub { }
/* ссылка с производителя (в две колонки) */
.mod-ishop-mnfs-twocol-name { }
/* лого производителя (в две колонки) */
.mod-ishop-mnfs-twocol-logo { float:left; margin-right:5px; }
/* описание производителя (в две колонки) */
.mod-ishop-mnfs-twocol-descrip { }
/* ссылка с торговой марки (в две колонки) */
.mod-ishop-tms-twocol-name { }
/* описание торговой марки (в две колонки) */
.mod-ishop-tms-twocol-descrip { }
/* счетчик товаров для производителя/торговой марки */
.mod-ishop-mnf-cnt,
.mod-ishop-tm-cnt { color:#999; font-size:.8em; }

/* разделитель между категориями и товарами */
.mod-ishop-hdelim { }

/* товары в 2 колонки */
.mod-ishop-items-twocol { }
/* картинка товара (в две колонки) */
.mod-ishop-items-twocol-img img { float:left; padding:2px; margin-right:5px; border:1px solid #ccc; }
/* цена товара (в две колонки) */
.mod-ishop-items-twocol-price {  }
/* код товара (в две колонки) */
.mod-ishop-items-twocol-code { display:none; }
/* производитель товара (в две колонки) */
.mod-ishop-items-twocol-mnf { }
/* торговая марка товара (в две колонки) */
.mod-ishop-items-twocol-tm { }
/* таблица clearfix для плавающей картинки */
table.mod-ishop-items-twocol-clearfix { width:100%; border:0 solid; margin:0;}
table.mod-ishop-items-twocol-clearfix td { padding:0; }
/* аннонс товара (в две колонки) */
.mod-ishop-items-twocol-announce { }

/* таблицы тех-характеристик товара в списке и в карточке товара */
.mod-ishop-item-fts,
.mod-ishop-items-onecol-fts,
.mod-ishop-items-twocol-fts { min-width:220px; border:1px solid #ccc; margin:5px 0; padding:0 3px; float:left; }
.mod-ishop-item-fts,
.mod-ishop-items-twocol-fts { float:none;}
.mod-ishop-item-fts table,
.mod-ishop-items-onecol-fts table, 
.mod-ishop-items-twocol-fts table { width:100%; margin:0; }
.mod-ishop-item-fts td,
.mod-ishop-items-onecol-fts td,
.mod-ishop-items-twocol-fts td { border-bottom:1px solid #ccc; padding:3px 5px; font-size:0.9em; }
.mod-ishop-item-fts td.ft-name,
.mod-ishop-items-onecol-fts td.ft-name,
.mod-ishop-items-twocol-fts td.ft-name  { color:#777; }
.mod-ishop-item-fts td.ft-value,
.mod-ishop-items-onecol-fts td.ft-value,
.mod-ishop-items-twocol-fts td.ft-value { text-align:right;}
.mod-ishop-item-fts tr:last-child td,
.mod-ishop-items-onecol-fts tr:last-child td,
.mod-ishop-items-twocol-fts tr:last-child td { border-bottom:0 solid; }

/* карточка товара */
.mod-ishop-item { }
/* название товара */
.mod-ishop-item h2 { } 
/* цена товара */
.mod-ishop-item-price { float:right; }
/* код товара */
.mod-ishop-item-code { }
/* производитель товара */
.mod-ishop-item-mnf { }
/* торговая марка товара */
.mod-ishop-item-tm { }
/* кнопка заказать */
.mod-ishop-item-order { float:right; clear:right;}
/* калерея картинок */
#mod-ishop-item-gallery { border:1px solid #ccc; padding:5px; float:left; }
/* контейнер большой картинки */
#mod-ishop-item-gallery-preview { text-align:center; margin-bottom:5px; position:relative;  }
.mod-ishop-item-gallery-no-slider #mod-ishop-item-gallery-preview { float:left; }
.mod-ishop-item-gallery-v-slider #mod-ishop-item-gallery-preview  { float:left; }
.mod-ishop-item-gallery-h-slider #mod-ishop-item-gallery-preview  { float:none; }
/* ссылка с большой картинки */
#mod-ishop-item-gallery-preview-img { }
/* слайдер */
#mod-ishop-item-gallery-slider { }
.mod-ishop-item-gallery-slider-item {  position:relative; }
.mod-ishop-item-gallery-slider { list-style:none; padding:0; margin:0; }
/* no slider */
.mod-ishop-item-gallery-slider .mod-ishop-item-gallery-slider-item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	zoom: 1;
	*display: inline;
	padding:0 1px;
}
/* use slider */
#mod-ishop-item-gallery .elslider ul li.mod-ishop-item-gallery-slider-item {padding:0 1px; }
#mod-ishop-item-gallery .elslider-vert ul li.mod-ishop-item-gallery-slider-item { padding:0 0 2px 0; }
#mod-ishop-item-gallery .elslider { padding:0;}
#mod-ishop-item-gallery .elslider-vert { float:left; margin:0 3px; padding:0;}

/* админские иконки */
#mod-ishop-item-gallery .adm-icons { position:absolute; top:0; right:0; }
/* свойства сверху */
.mod-ishop-item-props-top { }
.mod-ishop-item-props-top div { }
/* свойства снизу */
.mod-ishop-item-props-bottom { }
.mod-ishop-item-props-bottom div { }
/* описание товара */
.mod-ishop-item-content {}

/* props list (admin mode) */
.mod-ishop-props-list-title {
	border:1px solid #ccc;
	margin:3px 0;
	padding:5px;
	background-color:#eee;
}

.mod-ishop-props-list {
	list-style:none;
	margin:0;
	padding:0;
}
.mod-ishop-props-list li {
	border:1px solid #ccc;
	margin:0 0 5px 0;
	padding:5px;
}
.el-collapsed { font-weight:bold; }
.mod-ishop-props-list hr { margin-bottom:5px;}
.mod-ishop-props-list table td { padding:2px 15px 2px 7px; border-color:#ccc;}

/* Yandex.Market */
#conf-ym ul              { margin-bottom: 0; border-left: 3px solid #DEE7ED; margin-left: 44px; }
#conf-ym ul li           { list-style-type: none; margin-left: 0; }
#conf-ym .category       { font-weight: bold; font-size: 1.2em; margin-left: 37px; }
#conf-ym input           { margin-top: 2px; vertical-align: top; }
#conf-ym ul li div       { margin-left: 0; padding-left: 6px; }
#conf-ym ul li div:hover { background: #DEE7ED; }
#conf-ym ul li label     { padding-left: 5px; }
#conf-ym a.switchgroup   { font-size: 0.8em; }
#conf-ym a.on            { color: #009100; }
#conf-ym a.off           { color: #dc0000; }
