/* новости в одну колонку */
.mod-news ul    { margin:-.5em 0 0 0; padding:0; }
.mod-news ul li { margin:0; padding:1.5em 0 1em 0; list-style:none; border-bottom:1px solid #ccc; }
/* дата */
.mod-news-date { float:left; display:inline; padding: 2px; background:#eee; border:1px solid #ccc;	margin-right:1em; }
/* заголовки в списке новостей */
.mod-news h3 { padding:0.1em; }
/* заголовок и дата одной новости */
.mod-news-one h2 { padding:.3em;}
.mod-news-one .mod-news-date { margin-top:0.7em;}

.mod-news .strip-ev, .mod-news .strip-odd { background:transparent;}
