.mod-tshop .strip-odd,.mod-tshop .strip-ev { background:transparent; }
a.cat-title { font-weight:bold; font-size:1.1em; }

/* Заголовок итемов в одну колонку */
.items-onecol h4,
.items-twocol h4 { padding-top:.3em; }
.items-onecol li { padding:0 0 1em 0; }
/* ссылка на прайслист */
.mod-tshop-pricelist { text-align:right; }
/* скрываем ссылки "читать дальше" */
.mod-tshop a.readmore { display:none; }

.mod-tshop .items-twocol .strip-odd { background:transparent;}

/* Описание товара в списке */
.item-announce { padding:0.5em 0.5em 1em 0.5em; }
/* Производитель и цена */
.mod-tshop-mnf, .mod-tshop-price { padding: 0 0 1em 0; }

/* чекбоксы "выбрать для сравнения" */
.mod-tshop-compare-item, .mod-tshop-compare-model { float:right; margin:3px;}
.mod-tshop-compare-item { margin-top:5px;}

/* список теххарактеристик с списке товаров */
.mod-tshop-fts { padding:.5em; margin-top:.5em;	border:1px solid #ccc; }
.mod-tshop-fts div:last-child { border-bottom:0 solid;}
/* одна теххарактеристика */
.mod-tshop-ft  { padding:0.1em 0; border-bottom:1px solid #eee; }
.mod-tshop .mod-tshop-ft-name, .mod-tshop .mod-tshop-ft-val { font-size:90%; }

/* кнопка сравнить выбраное  */
.mod-tshop-models input.form-submit { margin: .6em 1em 0 0;}

/* Рскрывающийся контейнер с моделями */
.mod-tshop-models { padding:0; border:1px solid #ccc; }
/* шапка контейнера */
.mod-tshop-models-head { background:#eee; padding:1em; }
/* список моделей */
.mod-tshop-models-list { border-top:1px solid #ccc; }
/* одна модель */
.mod-tshop-model { padding:1em;	padding-bottom:1.2em; }

.mod-tshop-button-compare { padding:0.5em; text-align:center; border-top:2px solid #eee; }

.mod-tshop-item-descrip, .mod-tshop-item-descrip p  { text-align:justify; }

/***  Теххарактеристики  ***/
#mod-tshop-item-features strong { margin:.7em .5em; display:block;}
table.mod-tshop-fts-tb { width:100%; margin:0; border:0px solid ; }
.mod-tshop-fts-tb tbody th { padding:.7em; }
#mod-tshop-item-features-wrapper {
	overflow:auto;
	border:1px solid #ccc;
	min-height:400px;
	max-height:600px;
}
/***  Производители  ***/

/* список производителей */
.mod-tshop-mnfs {}

/* один проиводитель в списке */
.mod-tshop-mnf { margin-bottom:1em; border-bottom:1px solid #ccc;}
.mod-tshop-mnf h4 {  margin:0; }

/* краткое описание производителя в списке и полное на странице производителя */
.mod-tshop-mnf-announce, 
.mod-tshop-mnf-descrip { padding:.5em; text-align:justify;}
.mod-tshop-mnf-announce p, 
.mod-tshop-mnf-descrip p { text-align:justify; }

#mod-tshop-item-features table {
	width:100%;
	border:1px solid #ccc;
}

.mod-tshop-dialog .new-row { cursor:pointer; float:left;}
.mod-tshop-dialog .new-row div {float:left;margin-right:9px}

.mod-tshop-spinner {
	font-weight:bold;
	width:30px;
	height:30px;
	border:1px solid #ccc;
	margin:9px auto;
	background:url(../../images/loading.gif) 50% 50% no-repeat;
}
.mod-tshop-dialog table {
	width:100%;
}


.mod-tshop-dialog td.price {
	width:60px;
}

.mod-tshop-dialog td.name input, .mod-tshop-dialog td.price input {
	width:100%;
}

.mod-tshop-dialog td.rm {
	width:20px;
}
.mod-tshop-dialog td.rm div {
	cursor:pointer;
	float:right;
	text-align:center;
}

/* price list tab */
#mod-tshop-item-pricelist ul {
	margin:0;
	padding:0;
	list-style:none;
}

#mod-tshop-item-pricelist ul li {
	padding: 9px 0;
	border-bottom:1px solid #ccc;
}

#mod-tshop-item-pricelist ul li div {
	width:20px;
	height:20px;
	float:left;
	margin-right:0 5px;
	background:url(../../images/links.png) 0 -19px no-repeat;
}

#mod-tshop-item-pricelist ul li:last-child {
	border-bottom:none;
}

#mod-tshop-item-pricelist ul li strong {
	float:right;
}

.mod-tshop-item-lobj ul {
	margin:0;
	padding:0;
	list-style:none;
}

.mod-tshop-item-lobj ul li {
padding: 5px 0;	
}