ul.mod-container {
	padding:0;
	margin:.5em 0;
	list-style:none;
}

ul.mod-container li { 
	margin-bottom:1em; 
	zoom:1;
	padding-left:1.5em;
}

ul.mod-container li em { display: block; color:#999;}

div.mod-container-tc {
	float:left;
	width:49%;
	padding:0;
}

