/***  Список галерей  ***/
/* Контейнер одной галереи в списке */
.mod-ig-list    { margin:0; padding:0.5em; border-bottom:2px solid #ccc; }
.mod-ig-list h4 { display:inline-block; }
/* Инфо о галерее */
.mod-ig-info { font-size:90%; padding:0.3em 0; }
/* Превьюшки галереи */
.mod-ig-list-preview     { margin-bottom:0.5em; }
.mod-ig-list-preview div { display:inline; padding-right:0.5em; }
.mod-ig-list-preview img { border:2px solid #ccc; }

/***  Одна галерея  ***/
/* отключаем зебру в галерее */
.mod-ig-gallery .strip-ev, .mod-ig-gallery .strip-odd { background:transparent;}
/* шапка галереи */
.mod-ig-title   { margin-bottom:0.5em; padding:0.5em; border-bottom:2px solid #ccc; } 
/* Выбор разрешения кaртинок */
.mod-ig-imgsize { float:right; display:inline; } 
/* Общий контейнер для всех превьюшек */
div.mod-ig-gallery {} 
/* контейнер одного ряда превьюшек */
table.mod-ig-gallery-row { width:100%; } 
table.mod-ig-gallery-row td { text-align:center; vertical-align:top; }
/* Превьюшка */
div.mod-ig-img { text-align:center;	display:inline-block; padding:1.5em ; border:1px solid #ccc; }
/* Инфо картинки */
div.mod-ig-img-info     { margin-top:0.5em; background:#eee; font-size:78%; }
div.mod-ig-img-info div { padding: 1em;	border:1px solid #ccc; 	}
.mod-ig-img-info label, /* название картинки */
.mod-ig-img-info em,    /* коментарий */
.mod-ig-img-info span    { display:block; } /* вся остальная инфа */
.mod-ig-img-info label   { font-weight:bold; text-align:center; padding-bottom:0.7em;	}
div.mod-ig-img-info em   { padding-bottom:0.7em;}
div.mod-ig-img-info span { padding:0.2em 0;}
div.mod-ig-img-info span.admin { text-align:center;}

