#nav-list .navpage { padding-left:17px;}

#mod-meta ul {
	list-style:none;
	margin:0;
	padding:0;
	margin-left:2em;
}

#mod-meta li {
	clear:right;
	zoom:1;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}

#mod-meta  span {
	padding-left:21px;
	background:url(style/images/icons2.png) -5px -1660px no-repeat;
}




