.mod-tshop .strip-odd,.mod-tshop .strip-ev { background:transparent; }
a.cat-level-1 { }

/* Заголовок итемов в одну колонку */
.items-onecol h4,
.items-twocol h4 { padding-top:.3em; }
.items-onecol li { padding:0 0 1em 0; }
/* ссылка на прайслист */
.mod-tshop-pricelist { text-align:right; }
/* скрываем ссылки "читать дальше" */
.mod-tshop a.readmore { display:none; }

.mod-tshop .items-twocol .strip-odd { background:transparent;}

/* Описание товара в списке */
.item-announce { padding:0.5em 0.5em 1em 0.5em; }
/* Производитель и цена */
.mod-tshop-mnf, .mod-tshop-price { padding: 0 0 1em 0; }

/* чекбоксы "выбрать для сравнения" */
.mod-tshop-check, .mod-tshop-order { padding:0.3em;	float: right; display:inline; margin-left: 1em; margin-bottom: 0.15em; }
.mod-tshop-check input { border:none; /* stupid IE */ }

/* список теххарактеристик с списке товаров */
.mod-tshop-fts { padding:.5em; margin-top:.5em;	border:1px solid #ccc; }
/* одна теххарактеристика */
.mod-tshop-ft  { padding:0.1em 0; border-bottom:1px solid #eee; }
.mod-tshop .mod-tshop-ft-name, .mod-tshop .mod-tshop-ft-val { font-size:90%; }

/* кнопка сравнить выбраное  */
.mod-tshop-models input.form-submit { margin: .6em 1em 0 0;}

/* Рскрывающийся контейнер с моделями */
.mod-tshop-models { padding:0; border:1px solid #ccc; }
/* шапка контейнера */
.mod-tshop-models-head { background:#eee; padding:1em; }
/* список моделей */
.mod-tshop-models-list { border-top:1px solid #ccc; }
/* одна модель */
.mod-tshop-model { padding:1em;	padding-bottom:1.2em; }

.mod-tshop-button-compare { padding:0.5em; text-align:center; border-top:2px solid #eee; }

.mod-tshop-item-descrip, .mod-tshop-item-descrip p  { text-align:justify; }

/***  Теххарактеристики  ***/
.mod-tshop-fts-tb { width:100%; margin:2em 0; }
.mod-tshop-fts-tb tbody th { padding:.7em; }

/***  Производители  ***/

/* список производителей */
.mod-tshop-mnfs {}

/* один проиводитель в списке */
.mod-tshop-mnf { margin-bottom:1em; border-bottom:1px solid #ccc;}
.mod-tshop-mnf h4 {  margin:0; }

/* краткое описание производителя в списке и полное на странице производителя */
.mod-tshop-mnf-announce, 
.mod-tshop-mnf-descrip { padding:.5em; text-align:justify;}
.mod-tshop-mnf-announce p, 
.mod-tshop-mnf-descrip p { text-align:justify; }

